.block{
}

.block-gold{
  z-index: 0;
  position: absolute;
  left: 0;
  top:0;
}

.block-logo{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 flex-direction: column;
}

.block-interface{

  z-index: 1;
  position: absolute;

  top: 0;
  left: 0;

  width:100vw;
  height:100vh;

  border:5px solid gold;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.block-branding{
  z-index: 2;
  position: fixed;

  bottom: 0;
  left: 50%;
  transform: translate3d(-50%,0,0);

  width:100vw;

  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.block-line{

  text-align: center;

  width:100vw;

  word-wrap: break-word;

  position: fixed;
  top:50%;
  left:50%;

  transform: translate3d(-50%,-50%,0);

  z-index: 1;

  color: gold;
  font-family: Cinzel;
  font-size: 2em;

  cursor: pointer;
  user-select:none;
}
