.block-buy{
  position: relative;

  border:0px solid red;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 85vw;
}

@media(orientation: landscape){
  .block-buy{
    position: absolute;

    right: 15vh;
    top: 15vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 90vw;
  }
}

.block-buy-container-price{
  position: relative;
  width: 50%;
  height: 80%;

  font-family: Lato;
  color: gold;

  display: flex;
  flex-direction: column;

  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

@media(orientation: portrait){
  .block-buy-container-price{
    position: relative;
    width: 100%;
  }
}

@media(orientation: landscape){
  .block-buy-container-price{
    position: relative;
    width:30%;
    min-width: 200px;
    max-width: 300px;
  }
}

.block-buy-heading{
  position: relative;
  width: 100%;

  font-family: Cinzel;
  font-size: 3em;

  color: gold;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);

}

.block-buy-subheading{
  position: relative;
  width: 100%;

  font-size: 1em;
  font-weight: 200;

  word-wrap: break-word;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.block-buy-text{
  margin-top:5px;
  margin-bottom:5px;
  padding:0;

  position: relative;
  width: 100%;

  font-size: 1em;
  font-weight: 200;

  word-wrap: break-word;

  color: gold;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.block-buy-price{
  position: relative;

  margin-top: 10%;


  color: gold;

  word-wrap: break-word;
}
