.block{

  position: absolute;
  top:0;
  left:0;

  width: 100vw;
  height: 100vh;

  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

@media (min-width:800px) {
  .block{
    width: 100vw;
    height: 100vh;
  }
}

.block-gold{

  // border:0px solid red;

  z-index: 0;

  position: fixed;
  left: 0;
  top:0;

  width: 100vw;
  height: 100vh;
}

.block-frame{

  z-index: 1;

  position: fixed;
  left: 0;
  top:0;

  width: 100vw;
  height: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border:5px solid gold;
}

.block-numpad{
  position: relative;
  // border:5px solid blue;

  z-index: 2;
}

.block-display{
  position: relative;
  // border:5px solid red;

  z-index: 3;
}

.block-logo{
  position: relative;
  // border:5px solid green;

  z-index: 4;
}

@media(orientation: landscape){
  .block-logo{
    justify-content: flex-end;
    align-items: flex-end;
  }
}


.block-line{

  text-align: center;

  width:100vw;

  word-wrap: break-word;

  position: fixed;
  top:50%;
  left:50%;

  transform: translate3d(-50%,-50%,0);

  z-index: 1;

  color: gold;
  font-family: Cinzel;
  font-size: 2em;

  cursor: pointer;
  user-select:none;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .block{
   height:calc(100vh-69px);
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .block{
   height:100vh;
   justify-content: center;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .block{
   height:calc(100vh-69px);
   margin-top: 64px;   // minus 5px frame
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .block{
     height:100vh;
     justify-content: center;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .block{
   height:calc(100vh-69px);
   margin-top: 64px; // minus 5px frame
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .block{
     height:100vh;
     justify-content: center;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .block{
   height:calc(100vh-69px);
   margin-top: 64px; // minus 5px frame
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .block{
     height:100vh;
     justify-content: center;
    }
}
