.home{
 width:100vw;
 height:100vh;

 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.home-interface{
  width:100vw;
  height:100vh;

  position: absolute;
  left: 0;
  top:0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border:5px solid gold;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.home-gold{
  z-index: 0;
  position: absolute;
  left: 0;
  top:0;
}

.home-logo{
  z-index: 1;
}

.home-line{
  z-index: 1;

  color: gold;
  font-family: Cinzel;
  font-size: 1.5em;

  cursor: pointer;
  user-select:none;
}

.home-input{
  color: gold;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.5em;

  transform: translate3d(0,100%,0);

  cursor: pointer;
  user-select:none;
}
