.block-buy{

  position: relative;

  border:0px solid red;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: space-between;

  width: 85vw;
  min-height:70vh;
}

@media(orientation: landscape){
  .block-buy{
    position: absolute;

    left: 15vh;
    top: 10vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 50vw;

    min-height:100vh;

    border:5px solid transparent;
  }
}

@media(orientation: landscape) and (min-width: 1000px){
  .block-buy{
    position: absolute;

    // set back from previous view!
    left: auto;
    right: 10vh;
    top: 10vh;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: auto;
    min-height:25vh;
    min-width:250px;
  }
}

.block-buy-container-price{
  min-width:250px;
  position: relative;

  font-family: Lato;
  color: gold;

  display: flex;
  flex-direction: column;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

@media(orientation: portrait){
  .block-buy-container-price{
    width: 100%;
  }
}

@media(orientation: landscape){
  .block-buy-container-price{

  }

  .block-buy-text{
    display: none;
  }
}

@media(orientation: landscape) and (min-width: 1000px){
  .block-buy-container-price{
    min-width: 200px;
    max-width: 300px;
  }

  .block-buy-text{
    display: flex;
  }
}

.block-buy-heading{
  position: relative;
  width: 100%;

  font-family: Cinzel;
  font-size: 3em;

  color: gold;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);

}

.block-buy-subheading{
  position: relative;
  width: 100%;

  font-size: 1em;
  font-weight: 200;

  word-wrap: break-word;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.block-buy-text{
  margin-top:5px;
  margin-bottom:5px;
  padding:0;

  position: relative;
  width: 100%;

  font-size: 1em;
  font-weight: 200;

  word-wrap: break-word;

  color: gold;

  text-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.block-buy-price{
  position: relative;

  margin-top: 10%;


  color: gold;

  word-wrap: break-word;
}
