.block-button{

  height: 43px;
  width: 100%;

  color: gold;

  border: 2px solid gold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Lato;
  font-weight: bold;

  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;

  cursor: pointer;
  user-select: none;
}

.block-button-fixed-width{
  max-width: 85vw;
  min-height: 50px;
  word-break: break-all;
  word-wrap: break-word;
}

.block-button:hover{
  background-color: gold;

  background: #ffd700; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd700 0%, #f1da36 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffd700 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffd700 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  color:  #765d1b;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.1);
}

.block-button-sold{

  // Draw an SVG top left to bottom right
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10' fill='red' /></svg>");

  background-repeat:no-repeat;
  background-position:center center;
  //scale it
  background-size: 100% 100%, auto;

  background: red;

  cursor: not-allowed;
  user-select: none;
}
.block-button-sold:hover{

  // Draw an SVG top left to bottom right
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M0 0 L0 10 L10 10' fill='red' /></svg>");

  background-repeat:no-repeat;
  background-position:center center;
  //scale it
  background-size: 100% 100%, auto;

  // background: red;

  cursor: not-allowed;
}
