.chain-container {

  position: relative;
  top:0;

  min-height: 80%;

  width: 100%;

  // TODO GEIL!
  border: 0px solid red;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.chain-animation-container {

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  width: 85vw;

}
.item {

  width: 85vw;
  margin: 5px;

  word-wrap: break-word;

  font-family: Lato;

	background-color: gold;

	text-align: center;
	padding: 10px 5px;

	font-weight: 600;
	color: mix(black, black, 60%);

	&:hover {
		cursor: pointer;
	}
}
.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 1s ease;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}
