.numpad{
  height:75vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border:5px solid red;
}

.numpad-row{

  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.numpad-number{
  margin:1.5vw;
  padding: 0em;

  border:2px solid gold;

  width:50px;
  height:50px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-weight: thin;
  font-size: 1.5em;
  color: gold;

  cursor: pointer;
  user-select:none;
}

@media(orientation: portrait){
  .numpad-number{
    width:10vh;
    height:10vh;
    border-radius: 10vh;
    margin:1.1vh;
  }
}

.numpad-number:active{
  border:2px solid black;
  background-color:gold;
  color:black;
}
