@import "_Display";
@import "_Numpad";
@import "_Gold";

@import "_Loader";

@import "_Button";
@import "_GoldButton";

@import "_Chain";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:Light');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Roboto:Thin');

body{
  background-color: black;
  color: white;
  margin:0;
}

.pad{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.button{
  margin: .25em;
  padding: .75em;
  border: 1px solid gold;
  border-radius: 25px;
  flex: 0 1 calc(30px);
  min-width: 30px;
  max-width: 50px;
  color: gold;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans, sans-serif;
}

.line{
  color:gold;
  position:absolute;
  left:50%;
  bottom:7.5%;
  transform: translateX(-50%) translateY(-50%);
  font-size:2em;
  font-family: Josefin Sans, sans-serif;
  font-family: Cinzel, sans-serif;
  user-select: none;
}

.number{
  color:gold;
  position:absolute;
  left:50%;
  top:7.5%;
  transform: translateX(-50%) translateY(-50%);
  font-size:2em;
  font-family: Josefin Sans, sans-serif;
  font-family: Cinzel, sans-serif;
  user-select: none;
}
